@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}
/* hack to prevent the webpack dev server overlay during development */
iframe {
    display:none;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
